@import url("/home/ollel/.config/swaync/colors.css");

* {
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
    color: @m_text;
}

.control-center {
    background-color: @m_bg;
    border-radius: 8px;
    border: 1px solid alpha(@m_text, 0.1);
    margin: 0px;
    padding: 8px;
}

.notification {
    background-color: alpha(@m_surface, 0.95);
    border-radius: 8px;
    margin: 4px 0px;
    padding: 12px;
    border: 1px solid alpha(@m_text, 0.05);
}

.notification-content {
    background: transparent;
}

.notification-row {
    outline: none;
    margin: 0;
    padding: 0;
}

.close-button {
    background: transparent;
    color: alpha(@m_text, 0.3);
    border-radius: 4px;
    border: none;
}

.close-button:hover {
    background-color: @m_error;
    color: @m_bg;
}

.notification progress {
    background: transparent;
}

.notification progress > * {
    background: alpha(@m_text, 0.2);
    border-radius: 2px;
}
